<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.gds.gms.mapper.GovPolicyGeneralMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap id="dataFieldMap" type="com.cloud.gds.gms.api.entity.GovPolicyGeneral">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="summary" property="summary"/>
		<result column="source" property="source"/>
		<result column="reference" property="reference"/>
		<result column="issue" property="issue"/>
		<result column="style" property="style"/>
		<result column="level" property="level"/>
		<result column="timeliness" property="timeliness"/>
		<result column="stage" property="stage"/>
		<result column="formality" property="formality"/>
		<result column="effective" property="effective"/>
		<result column="write_time" property="writeTime"/>
		<result column="publish_time" property="publishTime"/>
		<result column="effect_time" property="effectTime"/>
		<result column="invalid_time" property="invalidTime"/>
		<result column="text" property="text"/>
		<result column="attachment" property="attachment"/>
		<result column="file" property="file"/>
		<result column="url" property="url"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="views" property="views"/>
		<result column="creator_id" property="creatorId"/>
		<result column="target" property="target"/>
		<result column="theme" property="theme"/>
		<result column="scale" property="deptId"/>
		<result column="industry" property="deptId"/>
		<result column="create_time" property="deptId"/>
		<result column="modified_time" property="deptId"/>
		<result column="mark" property="deptId"/>
		<result column="examine_status" property="deptId"/>
		<result column="examine_user_id" property="deptId"/>
		<result column="examine_date" property="deptId"/>
		<result column="retreat_count" property="deptId"/>
		<result column="retreat_user" property="deptId"/>
		<result column="scrapy_id" property="deptId"/>
		<result column="region" property="deptId"/>
		<result column="region_arr" property="deptId"/>
		<result column="retreat_content" property="deptId"/>
		<result column="processor_id" property="deptId"/>
		<result column="commit_time" property="deptId"/>
	</resultMap>

	<resultMap id="govPolicyGeneralPageVOMap" type="com.cloud.gds.gms.api.vo.GeneralVO">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="publishTime" column="publish_time"/>
		<result property="style" column="style"/>
		<result property="styleName" column="styleName"/>
		<result property="level" column="level"/>
		<result property="levelName" column="levelName"/>
		<result property="timeliness" column="timeliness"/>
		<result property="timelinessName" column="timelinessName"/>
		<result property="stage" column="stage"/>
		<result property="stageName" column="stageName"/>
		<result property="formality" column="formality"/>
		<result property="formalityName" column="formalityName"/>
		<result property="creatorId" column="creator_id"/>
		<result property="creatorName" column="creatorName"/>
		<result property="createTime" column="create_time"/>
		<result property="modifiedTime" column="modified_time"/>
		<result property="mark" column="mark"/>
		<result property="examineStatus" column="examine_status"/>
		<result property="creatorName" column="creatorName"/>
		<result property="target" column="target"/>
		<result property="theme" column="theme"/>
		<result property="scale" column="scale"/>
		<result property="industry" column="industry"/>
		<result property="views" column="views"/>
		<result property="mark" column="mark"/>
		<result property="examineStatus" column="examine_status"/>
		<result property="examineUser" column="'examine_user_id'"/>
		<result property="examineDate" column="examine_date"/>
		<result property="retreatCount" column="retreat_count"/>
		<result property="retreatUser" column="retreat_user"/>
		<result property="processorId" column="processor_id"/>
		<result property="scrapyId" column="scrapy_id"/>
		<result property="commitTime" column="commit_time"/>
		<result property="region" column="region"/>
		<result property="examineUserName" column="examineUserName"/>
		<!--<collection property="dispatchList" select="selectGeneralDispatch" column="id">-->
		<!--</collection>-->
		<!--<collection property="tagList" select="selectGeneralTag" column="id">-->
		<!--</collection>-->
	</resultMap>

	<resultMap id="govAnalyse_Map" type="com.cloud.gds.gms.api.vo.GovAnalyseVo">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="summary" column="summary"/>
		<result property="publishTime" column="publish_time"/>
		<result property="creatorId" column="creator_id"/>
		<result property="mark" column="mark"/>
		<result property="examineDate" column="examine_date"/>
		<!--<collection property="dispatchList" select="selectGeneralDispatch" column="id">-->
		<!--</collection>-->
		<!--<collection property="tagList" select="selectGeneralTag" column="id">-->
		<!--</collection>-->
	</resultMap>

	<resultMap id="commonVOMap" type="com.cloud.gds.gms.api.vo.CommonVO">
		<id column="id" property="commonId"/>
		<result column="name" property="commonName"/>
	</resultMap>


	<!-- 综合查询，完成查询的所有功能 -->
	<select id="selectAll" resultMap="govPolicyGeneralPageVOMap">
		SELECT
		polGen.id,
		polGen.title,
		polGen.summary,
		polGen.publish_time,
		polGen.creator_id,
		polGen.mark,
		polGen.examine_date
		FROM gov_policy_general AS polGen
		WHERE polGen.is_deleted = '0'
		AND polGen.examine_status=3
		<if test="title != null and title != ''">
			AND MATCH (polGen.title) AGAINST (#{title} IN BOOLEAN MODE)
		</if>
		<if test="style != null and style != ''">
			AND polGen.style = #{style}
		</if>
		<if test="level != null and level != ''">
			AND polGen.level = #{level}
		</if>
		<if test="stage != null and stage != ''">
			AND polGen.stage = #{stage}
		</if>
		<if test="formality != null and formality != ''">
			AND polGen.formality = #{formality}
		</if>
		<if test="startTime != null and startTime != ''">
			AND polGen.publish_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			AND polGen.publish_time &lt;= #{endTime}
		</if>
		<if test="username != null and username != ''">
			AND u.username = #{username}
		</if>
		<if test="target != null and target != ''">
			AND polGen.target LIKE CONCAT('%',#{target},'%')
		</if>
		<if test="theme != null and theme != ''">
			AND polGen.theme LIKE CONCAT('%',#{theme},'%')
		</if>
		<if test="scale != null and scale != ''">
			AND polGen.scale LIKE CONCAT('%',#{scale},'%')
		</if>
		<if test="industry != null and industry != ''">
			AND polGen.industry LIKE CONCAT('%',#{industry},'%')
		</if>
		<if test="timeliness != null and timeliness != ''">
			AND polGen.timeliness = #{timeliness}
		</if>
		<if test="regionArr != null and regionArr != '' and regionArr != '0'.toString()">
			AND polGen.region_arr LIKE CONCAT('%',#{regionArr})
		</if>
		ORDER BY
		<if test="views != null and views != '' ">
			polGen.views DESC,
		</if>
		<if test="time!=null and time!=''">
			polGen.publish_time DESC,
		</if>
		polGen.id DESC
	</select>


	<!-- 综合查询，完成查询的政策的简单信息-->
	<select id="queryAll" resultMap="govAnalyse_Map">
		SELECT
		polGen.id,
		polGen.title,
		polGen.summary,
		polGen.publish_time,
		polGen.mark,
		polGen.examine_date
		FROM gov_policy_general AS polGen
		WHERE polGen.is_deleted = '0'
		AND polGen.examine_status=3
		<if test="title != null and title != ''">
			AND MATCH (polGen.title) AGAINST (#{title} IN BOOLEAN MODE)
		</if>
		<if test="style != null and style != ''">
			AND polGen.style = #{style}
		</if>
		<if test="level != null and level != ''">
			AND polGen.level = #{level}
		</if>
		<if test="stage != null and stage != ''">
			AND polGen.stage = #{stage}
		</if>
		<if test="formality != null and formality != ''">
			AND polGen.formality = #{formality}
		</if>
		<if test="startTime != null and startTime != ''">
			AND polGen.publish_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			AND polGen.publish_time &lt;= #{endTime}
		</if>
		<if test="username != null and username != ''">
			AND u.username = #{username}
		</if>
		<if test="target != null and target != ''">
			AND polGen.target LIKE CONCAT('%',#{target},'%')
		</if>
		<if test="theme != null and theme != ''">
			AND polGen.theme LIKE CONCAT('%',#{theme},'%')
		</if>
		<if test="scale != null and scale != ''">
			AND polGen.scale LIKE CONCAT('%',#{scale},'%')
		</if>
		<if test="industry != null and industry != ''">
			AND polGen.industry LIKE CONCAT('%',#{industry},'%')
		</if>
		<if test="timeliness != null and timeliness != ''">
			AND polGen.timeliness = #{timeliness}
		</if>
		<if test="regionArr != null and regionArr != '' and regionArr != '0'.toString()">
			AND polGen.region_arr LIKE CONCAT('%',#{regionArr})
		</if>
		ORDER BY
		<if test="views != null and views != '' ">
			polGen.views DESC,
		</if>
		<if test="time!=null and time!=''">
			polGen.publish_time DESC,
		</if>
		polGen.id DESC
	</select>

	<!-- 综合查询,查询政策的id -->
	<select id="gainList" resultType="java.lang.Long">
		SELECT
		polGen.id
		FROM gov_policy_general AS polGen
		WHERE polGen.is_deleted = '0'
		AND polGen.examine_status=3
		<if test="title != null and title != ''">
			AND MATCH (polGen.title) AGAINST (#{title} IN BOOLEAN MODE)
		</if>
		<if test="style != null and style != ''">
			AND polGen.style = #{style}
		</if>
		<if test="level != null and level != ''">
			AND polGen.level = #{level}
		</if>
		<if test="stage != null and stage != ''">
			AND polGen.stage = #{stage}
		</if>
		<if test="formality != null and formality != ''">
			AND polGen.formality = #{formality}
		</if>
		<if test="startTime != null and startTime != ''">
			AND polGen.publish_time &gt;= #{startTime}
		</if>
		<if test="endTime != null and endTime != ''">
			AND polGen.publish_time &lt;= #{endTime}
		</if>
		<if test="username != null and username != ''">
			AND u.username = #{username}
		</if>
		<if test="target != null and target != ''">
			AND polGen.target LIKE CONCAT('%',#{target},'%')
		</if>
		<if test="theme != null and theme != ''">
			AND polGen.theme LIKE CONCAT('%',#{theme},'%')
		</if>
		<if test="scale != null and scale != ''">
			AND polGen.scale LIKE CONCAT('%',#{scale},'%')
		</if>
		<if test="industry != null and industry != ''">
			AND polGen.industry LIKE CONCAT('%',#{industry},'%')
		</if>
		<if test="timeliness != null and timeliness != ''">
			AND polGen.timeliness = #{timeliness}
		</if>
		<if test="regionArr != null and regionArr != '' and regionArr != '0'.toString()">
			AND polGen.region_arr LIKE CONCAT('%',#{regionArr})
		</if>
		ORDER BY
		<if test="views != null and views != '' ">
			polGen.views DESC,
		</if>
		<if test="time!=null and time!=''">
			polGen.publish_time DESC,
		</if>
		polGen.id DESC
	</select>


	<select id="selectGeneralDispatch" resultMap="commonVOMap">
		SELECT
			o.id,
			o.name
		FROM
			gov_relation AS gr
		LEFT JOIN gov_policy_organization AS o ON gr.correlation_id = o.id
		LEFT JOIN gov_relation_type AS rt ON rt.number = 'gov_general_dispatch'
		WHERE gr.node = 'gov_general_policy' AND gr.relation_id = #{id} AND gr.type_id = rt.id AND o.is_deleted = '0'
	</select>

	<select id="selectGeneralTag" resultMap="commonVOMap">
		SELECT
            gt.id,
            gt.name
		FROM
			gov_tag_relation AS gtr
		LEFT JOIN gov_tag_relation_type AS rt ON rt.type_number = 'def'
		LEFT JOIN gov_tag AS gt ON gt.id = gtr.tag_id
		WHERE gtr.node = 'gov_general_policy' AND gtr.relation_id = #{id} AND gtr.type_id = rt.id
	</select>


</mapper>
