<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.admin.mapper.SysRelationTypeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.admin.api.entity.SysRelationType">
		<id column="g_type_id" property="id"/>
		<result column="g_type_name" property="name"/>
		<result column="g_type_number" property="number"/>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        id, name, number
    </sql>

	<select id="selectByNumber" resultMap="BaseResultMap">
		SELECT
			rt.g_type_id,
			rt.g_type_name,
			rt.g_type_number
		FROM
			gov_relation_type AS rt
		WHERE
			rt.g_type_number = #{number}
	</select>

	<select id="selectAllPage" resultMap="BaseResultMap">
		SELECT
			rt.*
		FROM
			gov_relation_type AS rt
		WHERE
			1 = 1
		<if test="name != null and name != ''">
			AND rt.g_type_name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="number != null and number != ''">
			AND rt.g_type_number LIKE CONCAT('%',#{number},'%')
		</if>
	</select>

</mapper>
