<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.gds.cleaning.mapper.DataRuleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
	<resultMap id="dataFieldMap" type="com.cloud.gds.cleaning.api.entity.DataRule">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="params" property="params"/>
		<result column="create_time" property="createTime"/>
		<result column="modified_time" property="modifiedTime"/>
		<result column="create_user" property="createUser"/>
		<result column="modified_user" property="modifiedUser"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="state" property="state"/>
		<result column="dept_id" property="deptId"/>
	</resultMap>

	<select id="selectRuleByFieldId" resultType="com.cloud.gds.cleaning.api.entity.DataRule">
		SELECT
			A.*
		FROM
			(SELECT rule_id
			 FROM
				 dataclean_data_field B
			 WHERE B.id = #{id})TAB1
				LEFT JOIN dataclean_data_rule A
				ON A.id = TAB1.rule_id
	</select>

	<delete id="recyclingBinClear">
		DELETE
		FROM
		dataclean_data_rule
		WHERE
		is_deleted = 1
		AND id IN
		<foreach item="id" collection="ids" open="("
				 separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>
