<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.tag.mapper.GovTagDescriptionMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.tag.entity.GovTagDescription">
		<id column="g_tag_description_id" property="descriptionId"/>
		<result column="g_description" property="description"/>
		<result column="g_tag_id" property="tagId"/>
		<result column="g_creation_date" property="creationDate"/>
		<result column="g_creator_id" property="creatorId"/>
	</resultMap>

	<!-- govTagDescriptionVo结果集 -->
	<resultMap id="govTagDescriptionVoResultMap" type="com.cloud.dips.tag.vo.GovTagDescriptionVO">
		<id column="g_tag_description_id" property="descriptionId"/>
		<result column="g_description" property="description"/>
		<result column="g_tag_id" property="tagId"/>
		<result column="g_creation_date" property="creationDate"/>
		<result column="g_creator_id" property="creatorId"/>
		<result column="creatorRealName" property="creatorRealName"/>
	</resultMap>

	<!--根据标签Id删除标签描述-->
	<delete id="deleteByTagId">
		DELETE FROM gov_tag_description WHERE g_tag_id = #{tagId}
	</delete>

</mapper>
