<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.gds.preprocessing.mapper.InvalidPolicyMapper">

	<resultMap id="BaseMap" type="com.cloud.gds.preprocessing.entity.BasePolicy">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
	</resultMap>

	<select id="gainIssueId" resultType="java.lang.Long">
		SELECT id FROM scrapy_gov_policy_general WHERE is_deleted = 0 AND (LENGTH(title) &lt; #{titleLength} OR LENGTH(text) &lt; #{textLength}) AND attachment is NULL
	</select>

	<select id="gainIdenticalPolicy" resultType="com.cloud.gds.preprocessing.entity.BasePolicy">
		SELECT
			id,
			title
		FROM
			scrapy_gov_policy_general
		WHERE
			title IN (
				SELECT
					a.title
				FROM
					(
						SELECT DISTINCT
							title,
							COUNT(title) AS titlenum
						FROM
							scrapy_gov_policy_general
						WHERE
							is_deleted = 0
						GROUP BY
							title
					) a
				WHERE
					a.titlenum > 1
			)
			ORDER BY id DESC
	</select>

	<select id="gainRealPolicy" resultMap="BaseMap">
		SELECT id,title FROM gov_policy_general WHERE is_deleted = 0
	</select>

	<select id="gainScrapyPolicy" resultMap="BaseMap">
		SELECT id,title FROM scrapy_gov_policy_general WHERE is_deleted = 0
	</select>


	<update id="updateScrapyIsDeleted">
		UPDATE scrapy_gov_policy_general SET is_deleted = 1 where id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>


</mapper>
