<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.gds.preprocessing.mapper.InvalidPolicyMapper">

	<resultMap id="ScrapyBaseMap" type="com.cloud.gds.preprocessing.entity.ScrapyGovPolicyGeneral">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="source" property="source"/>
		<result column="reference" property="reference"/>
		<result column="issue" property="issue"/>
		<result column="style" property="style"/>
		<result column="level" property="level"/>
		<result column="publish_time" property="publishTime"/>
		<result column="text" property="text"/>
		<result column="attachment" property="attachment"/>
		<result column="url" property="url"/>
		<result column="region" property="region"/>
		<result column="creator_id" property="creatorId"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<resultMap id="BaseMap" type="com.cloud.gds.preprocessing.entity.BasePolicy">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,title,source,reference,issue,style,level,publish_time,text,attachment,url,region,creator_id,create_time
	</sql>

	<select id="gainIssueId" resultType="java.lang.Long">
		SELECT id FROM scrapy_gov_policy_general WHERE is_deleted = 0 AND (LENGTH(title) &lt; #{titleLength} OR LENGTH(text) &lt; #{textLength}) AND attachment is NULL
	</select>

	<select id="gainIdenticalPolicy" resultType="com.cloud.gds.preprocessing.entity.BasePolicy">
		SELECT
			id,
			title
		FROM
			scrapy_gov_policy_general
		WHERE
			title IN (
				SELECT
					a.title
				FROM
					(
						SELECT DISTINCT
							title,
							COUNT(title) AS titlenum
						FROM
							scrapy_gov_policy_general
						WHERE
							is_deleted = 0
						GROUP BY
							title
					) a
				WHERE
					a.titlenum > 1
			)
			ORDER BY id DESC
	</select>

	<select id="cleanRealPolicy" resultType="com.cloud.gds.preprocessing.entity.BasePolicy">
		SELECT
			id,title
		FROM
			gov_policy_general
		WHERE
			title IN (
			SELECT
				a.title
			FROM
				( SELECT DISTINCT title, COUNT( title ) AS titlenum FROM gov_policy_general WHERE is_deleted = 0 AND examine_status = 3 GROUP BY title ) a
			WHERE
			a.titlenum > 1
			) ORDER BY id asc
	</select>

	<select id="gainRealPolicy" resultMap="BaseMap">
		SELECT id,title FROM gov_policy_general WHERE is_deleted = 0
	</select>

	<select id="gainRealPolicyNull2158" resultMap="BaseMap">
		SELECT id,title FROM gov_policy_general WHERE is_deleted = 0 and examine_user_id != 2158
	</select>

	<select id="gainRealPolicyIs2158" resultMap="BaseMap">
		SELECT id,title FROM gov_policy_general WHERE is_deleted = 0 and examine_user_id = 2158
	</select>

	<select id="gainScrapyPolicy" resultMap="BaseMap">
		SELECT id,title FROM scrapy_gov_policy_general WHERE is_deleted = 0
	</select>


	<update id="updateScrapyIsDeleted">
		UPDATE scrapy_gov_policy_general SET is_deleted = 1 where id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<update id="updateRealIsDeleted">
		UPDATE gov_policy_general SET is_deleted = 5 ,examine_status = 7 where (examine_user_id = 2788 or examine_user_id = 2158) and id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<select id="ScrapyPolicyGeneral" resultMap="ScrapyBaseMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM scrapy_gov_policy_general WHERE is_deleted = 0
		ORDER BY id ASC
		LIMIT 10000
	</select>

	<update id="updateByIdsAndIsDeleted">
		UPDATE scrapy_gov_policy_general SET is_deleted = #{state} where id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>


</mapper>
