<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.gds.preprocessing.mapper.ScrapyGovPolicyGeneralMapper">

	<resultMap id="baseMap" type="com.cloud.gds.preprocessing.entity.ScrapyGovPolicyGeneral">
		<result column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="source" property="source"/>
		<result column="reference" property="reference"/>
		<result column="issue" property="issue"/>
		<result column="style" property="style"/>
		<result column="level" property="level"/>
		<result column="publish_time" property="publishTime"/>
		<result column="text" property="text"/>
		<result column="attachment" property="attachment"/>
		<result column="url" property="url"/>
		<result column="region" property="region"/>
		<result column="creator_id" property="creatorId"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,title,source,reference,issue,style,level,publish_time,text,attachment,url,region,creator_id,create_time
	</sql>

	<select id="gainScrapyPolicy" resultMap="baseMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM scrapy_gov_policy_general WHERE is_deleted = 0 AND id &lt; 530350
		ORDER BY id DESC
	</select>

	<update id="updateByIdsAndIsDeleted">
		UPDATE scrapy_gov_policy_general SET is_deleted = #{state} where id IN
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>


</mapper>
