<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 *
 * Copyright (c) 2018-2025, ZB All rights reserved.
 *
 * Author: ZB
 *
 */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.tag.mapper.GovTagMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.tag.api.entity.GovTag">
		<id column="g_tag_id" property="tagId"/>
		<result column="g_name" property="name"/>
		<result column="g_creation_date" property="creationDate"/>
		<result column="g_refers" property="refers"/>
		<result column="g_priority" property="priority"/>
		<result column="g_type_id" property="typeId"/>
		<result column="g_level_id" property="levelId"/>
		<result column="g_views" property="views"/>
		<result column="g_description" property="description"/>
		<result column="g_relation" property="relation"/>
		<result column="g_creator_id" property="creatorId"/>
	</resultMap>

	<!-- govTagVo结果集 -->
	<resultMap id="govTagVoResultMap" type="com.cloud.dips.tag.api.vo.GovTagVO">
		<id column="g_tag_id" property="tagId"/>
		<result column="g_name" property="name"/>
		<result column="g_creation_date" property="creationDate"/>
		<result column="g_refers" property="refers"/>
		<result column="g_priority" property="priority"/>
		<result column="g_type_id" property="typeId"/>
		<result column="typeName" property="typeName"/>
		<result column="g_level_id" property="levelId"/>
		<result column="levelName" property="levelName"/>
		<result column="g_views" property="views"/>
		<result column="g_description" property="description"/>
		<result column="g_relation" property="relation"/>
		<result column="g_creator_id" property="creatorId"/>
		<result column="creatorRealName" property="creatorRealName"/>
		<collection property="tagDescriptionList" select="selectTagDesc" column="g_tag_id">

		</collection>
	</resultMap>

	<sql id="selectGovTagVo">
		SELECT
            `tag`.g_tag_id,
            `tag`.g_name,
            `tag`.g_creation_date,
            `tag`.g_refers,
            `tag`.g_priority,
            `tag`.g_type_id,
            t.g_name AS typeName,
            `tag`.g_level_id,
            l.g_name AS levelName,
            `tag`.g_views,
            `tag`.g_description,
            `tag`.g_relation,
            `tag`.g_creator_id,
            u.g_real_name AS creatorRealName
        FROM
            gov_tag AS `tag`
            LEFT JOIN gov_user AS u ON u.g_user_id = `tag`.g_creator_id
            LEFT JOIN gov_tag_level AS l ON l.g_level_id = `tag`.g_level_id
            LEFT JOIN gov_tag_type AS t ON t.g_type_id = `tag`.g_type_id
    </sql>

	<select id="selectGovTagVoPage" resultMap="govTagVoResultMap">
		<include refid="selectGovTagVo"/>
        WHERE
        	1 = 1
        <if test="tagname != null and tagname != ''">
			and `tag`.g_name LIKE CONCAT('%',#{tagname},'%')
		</if>
        <if test="typename != null and typename != ''">
			and t.g_name LIKE CONCAT('%',#{typename},'%')
		</if>
    </select>

	<select id="selectGovTagVoById" resultMap="govTagVoResultMap">
        <include refid="selectGovTagVo"/>
        WHERE
            `tag`.g_tag_id = #{id}
    </select>



	<select id="findByGovTagName" resultType="java.lang.Integer">
     SELECT
            count(*)
        FROM
            gov_tag AS `tag`
        WHERE
            `tag`.g_name = #{tagName}
    </select>

	<select id="selectTagDesc" resultMap="govTagDesc">
		SELECT
			d.g_tag_description_id,
            d.g_description AS dDescription,
            d.g_tag_id AS dTagId,
            d.g_creation_date AS dcreationDate,
            d.g_creator_id AS dcreatorId,
            u.g_real_name AS dcreatorRealName
		FROM
			gov_tag_description AS d
		LEFT JOIN gov_user AS u ON u.g_user_id = d.g_creator_id
		WHERE
			d.g_tag_id = #{g_tag_id}
	</select>

	<resultMap id="govTagDesc" type="com.cloud.dips.tag.api.vo.GovTagDescriptionVO">
		<id column="g_tag_description_id" property="descriptionId"/>
		<result column="dDescription" property="description"/>
		<result column="dTagId" property="tagId"/>
		<result column="dcreationDate" property="creationDate"/>
		<result column="dcreatorId" property="creatorId"/>
		<result column="dcreatorRealName" property="creatorRealName"/>
	</resultMap>

</mapper>
