<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 *
 * Copyright (c) 2018-2025, ZB All rights reserved.
 *
 * Author: ZB
 *
 */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.tag.mapper.GovTagMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.tag.api.entity.GovTag">
		<id column="id" property="tagId"/>
		<result column="name" property="name"/>
		<result column="creation_date" property="creationDate"/>
		<result column="refers" property="refers"/>
		<result column="priority" property="priority"/>
		<result column="type_id" property="typeId"/>
		<result column="level_id" property="levelId"/>
		<result column="views" property="views"/>
		<result column="description" property="description"/>
		<result column="relation" property="relation"/>
		<result column="creator_id" property="creatorId"/>
		<result column="system" property="system"/>
	</resultMap>

	<!-- govTagVo结果集 -->
	<resultMap id="govTagVoResultMap" type="com.cloud.dips.tag.api.vo.GovTagVO">
		<id column="id" property="tagId"/>
		<result column="name" property="name"/>
		<result column="creation_date" property="creationDate"/>
		<result column="refers" property="refers"/>
		<result column="priority" property="priority"/>
		<result column="type_id" property="typeId"/>
		<result column="typeName" property="typeName"/>
		<result column="level_id" property="levelId"/>
		<result column="levelName" property="levelName"/>
		<result column="views" property="views"/>
		<result column="description" property="description"/>
		<result column="relation" property="relation"/>
		<result column="creator_id" property="creatorId"/>
		<result column="creatorRealName" property="creatorRealName"/>
		<collection property="tagDescriptionList" select="selectTagDesc" column="id">

		</collection>
	</resultMap>

	<sql id="selectGovTagVo">
		SELECT
            `tag`.id,
            `tag`.name,
            `tag`.creation_date,
            `tag`.refers,
            `tag`.priority,
            `tag`.type_id,
            t.name AS typeName,
            `tag`.level_id,
            l.name AS levelName,
            `tag`.views,
            `tag`.description,
            `tag`.relation,
            `tag`.creator_id,
            u.real_name AS creatorRealName
        FROM
            gov_tag AS `tag`
            LEFT JOIN gov_user AS u ON u.id = `tag`.creator_id
            LEFT JOIN gov_tag_level AS l ON l.id = `tag`.level_id
            LEFT JOIN gov_tag_type AS t ON t.id = `tag`.type_id
    </sql>

	<select id="selectGovTagVoPage" resultMap="govTagVoResultMap">
		<include refid="selectGovTagVo"/>
        WHERE
        	1 = 1
        <if test="tagname != null and tagname != ''">
			and `tag`.name LIKE CONCAT('%',#{tagname},'%')
		</if>
        <if test="typeid != null and typeid != ''">
			and t.type_id = #{typeid}
		</if>
    </select>

	<select id="selectGovTagVoById" resultMap="govTagVoResultMap">
        <include refid="selectGovTagVo"/>
        WHERE
            `tag`.id = #{id}
    </select>



	<select id="findByGovTagName" resultType="java.lang.Integer">
     SELECT
            count(*)
        FROM
            gov_tag AS `tag`
        WHERE
            `tag`.name = #{tagName}
    </select>

	<select id="selectTagDesc" resultMap="govTagDesc">
		SELECT
			d.id,
            d.description AS dDescription,
            d.tag_id AS dTagId,
            d.creation_date AS dcreationDate,
            d.creator_id AS dcreatorId,
            u.real_name AS dcreatorRealName
		FROM
			gov_tag_description AS d
		LEFT JOIN gov_user AS u ON u.id = d.creator_id
		WHERE
			d.tag_id = #{id}
	</select>

	<resultMap id="govTagDesc" type="com.cloud.dips.tag.api.vo.GovTagDescriptionVO">
		<id column="id" property="descriptionId"/>
		<result column="dDescription" property="description"/>
		<result column="dTagId" property="tagId"/>
		<result column="dcreationDate" property="creationDate"/>
		<result column="dcreatorId" property="creatorId"/>
		<result column="dcreatorRealName" property="creatorRealName"/>
	</resultMap>

</mapper>
