<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 *
 * Copyright (c) 2018-2025, ZB All rights reserved.
 *
 * Author: ZB
 *
 */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dips.tag.mapper.GovTagDescriptionMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.cloud.dips.tag.api.entity.GovTagDescription">
		<id column="id" property="descriptionId"/>
		<result column="description" property="description"/>
		<result column="tag_id" property="tagId"/>
		<result column="creation_date" property="creationDate"/>
		<result column="creator_id" property="creatorId"/>
	</resultMap>

	<!-- govTagDescriptionVo结果集 -->
	<resultMap id="govTagDescriptionVoResultMap" type="com.cloud.dips.tag.api.vo.GovTagDescriptionVO">
		<id column="id" property="descriptionId"/>
		<result column="description" property="description"/>
		<result column="tag_id" property="tagId"/>
		<result column="creation_date" property="creationDate"/>
		<result column="creator_id" property="creatorId"/>
		<result column="creatorRealName" property="creatorRealName"/>
	</resultMap>

	<!--根据标签Id删除标签描述-->
	<delete id="deleteByTagId">
		DELETE FROM gov_tag_description WHERE tag_id = #{tagId}
	</delete>

</mapper>
